* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
}

:root {
    --black-pure: hsl(0, 0%, 0%);
    --black: hsl(0, 0%, 10%);
    --grey-dark: hsl(0, 0%, 20%);
    --grey: hsl(0, 0%, 30%);
    --grey-glass: hsla(0, 0%, 30%, 0.8);
    --grey-light:hsl(0, 0%, 50%);
    --grey-light-glass:hsla(0, 0%, 50%, 0.8);
    --white: hsl(100, 100%, 100%);
    --white-glass: hsla(100, 100%, 100%, 0.8);
    --green: hsl(120, 50%, 40%);
    --red-glass: hsla(0, 100%, 60%,0.8);
    --blue-glass: hsla(20, 100%, 60%,0.8);
    --transparent: hsla(100, 100%, 100%, 0);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px 64px;
    background-color: var(--grey-dark);
    box-shadow: 0 0 16px var(--black-pure);
}

.header__button-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.header__button {
    width: 128px;
    height: 32px;
    border: none;
    border: 1px solid var(--white);
    border-radius: 4px;

    font-size: 1rem;
    background: none;
    cursor: pointer;
}

.header__button:hover {
    background-color: var(--grey);
}

body {
    background-color: var(--black);
}

.board-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 16px 0;
}

.board {
    display: grid;
    width: 512px;
    height: 512px;
    grid-template-columns: repeat(10, 1fr);

    position: relative;
    overflow: hidden;
}

.scanner-background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    scale: 1.5;

    background: conic-gradient(var(--transparent) 300deg, var(--white-glass));

    animation: scan 8s infinite linear;
}

.board_cell {
    background-color: var(--grey-glass);
    border: 1px solid var(--black);
}

.board-cell--ship {
    background-color: var(--green);
    border: 1px solid var(--green);
}

.board-cell--attacked {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-glass);
}

.board-cell--attacked::after, .board-cell--attacked::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    rotate: 45deg;
    
    background-color: var(--black-pure);
}

.board-cell--attacked::before {
    rotate: 135deg;
}

.board-cell--missed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-cell--missed::after {
    content: "";
    width: 50%;
    height: 50%;
    border-radius: 50%;

    background-color: var(--blue-glass);
}

.player2-board .board_cell:hover {
    border: 1px solid var(--white);
}


@keyframes scan {
    to {
	transform: rotate(1turn);
    }
}